%h1 All Items 

%table.table.table-striped
  %thead
    %tr
      %th List
      %th Checked 
      %th Name
      %th Due Date
  %tbody
    - @items.each do |item|
      %tr
        %td= item.list.title
        %td= item.checked.to_s
        %td= item.name
        %td= item.due_datetime
